:host {
    flex-direction: column;
}

.todo-list-filter-container {
    margin-top: 24px;
}

.todo-list-filter-option {
    flex-grow: 1;
}

.mat-mdc-chip-set {
    width: 100%;
}

.todo-list-remaining-todos {
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px;
}

.todo-list-container {
    height: 600px;
}

.todo-list-item {
    display: flex;
    flex-direction: column;
    height: 88px;
    padding: 8px;
    + .todo-list-item {
        margin-top: 16px;
    }
}

.todo-list-item-actions {
    display: flex;
    gap: 16px;
    &-button {
        flex-grow: 1;
    }
}
