:host {
    align-items: center;
    height: 100%;
    background-color: #f2f2f2;
}

.main-container {
    background-color: white;
    padding: 32px 40px;
    width: 50%;
    min-height: 80%;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 4px #bfbfbf);
}

.main-container-header {
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}
